#upload{
	margin:30px 200px; padding:15px;
	font-weight:bold; font-size:1.3em;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	background:#f2f2f2;
	color:#3366cc;
	border:1px solid #ccc;
	width:150px;
	cursor:pointer !important;
	-moz-border-radius:5px; -webkit-border-radius:5px;
}
.pre_list{
	list-style:none;
}
.pre_list li{
	width:33%;
	display:inline-block;
}
.main_pre_list h5{
	color:#900;
	border-bottom:1px solid #CCC;
	margin-top:15px;
}
.pre_list li label{
	margin:2px 0;
}

